body {
    padding-top: 1px;
}

.top-bar {  
    background-color: rgb(211,211,211);
    display: flex;
    justify-content: space-between;
    margin: 10px;  
    position: fixed;   
}

.logo {
    display: flex;       
    width: 20%;
}

.name {
    align-items: center;
    color: gray;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}

.name-slogan {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;    
}

.site-slogan {
    align-items: center;
    color: gray;
    display: flex;
    font-size: 12px;    
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    color: #2F4F4F;
    font-size: 20px;
    margin-right: 20px;
    padding: 15px;
}

.about h2 {
    color: #00ACCC;
    display: flex;
    font-family: "poppins-bold";
    font-size: 1.6rem;
    line-height: 1.875;
    margin: 300px 550px 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.picture-about {
    border-radius: 50%;
    float: left;
    margin-left: 100px;
    max-width: 8%;
    width: 30%;
}

p {
    color: #888888;
    font-family: "lora-regular", serif;
    line-height: 1.8;
}

.text-about p {
    float: right;
    margin-right: 40px;
    width: 80%;
}

h3 {
    color: #002B33;
    display: flex;
    font-family: "poppins-bold", sans-serif;
    font-size: 18px;
    letter-spacing: .25rem;
    margin-left: 200px;
    margin-top: 300px;
    text-transform: uppercase;
}

.info-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 160px;
      
}

.info-list li strong {
    color: #002B33;
    font-family: "poppins-bold", sans-serif;
    font-size: 15px;
}

.info-list li span {
    color: #888888;
    font-family: "poppins-bold", sans-serif;
    font-size: 15px;
}

.div-profile p {
    margin-left: 200px;
}

.projects {
    background-color: #ebebeb;
}

.projects h2 {
    color: #00ACCC;
    display: flex;
    font-family: "poppins-bold";
    font-size: 1.6rem;
    line-height: 1.875;
    margin-left: 500px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.projects h1 {
    color: #002B33;
    font-size: 30px;
    margin-left: 300px;
}

.projects-container img {
    width: 400px;
}

.footer {    
    background-color: #151515;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    list-style: none;  
}

.footer span {
    align-self: center;
    margin: 15px;
}

.right-side {
    display: flex;    
    margin-right: 20px;   
}

.right-side img {       
    width: 50px;
    height: 50px;
}