@import "../../global.scss";

.topbar {
	background-color: #fed766;
	color: $mainColor;
	height: 70px;
	position: fixed;
	top: 0;
	transition: all 1s ease;
	width: 100%;
	z-index: 3;

	.wrapper {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 10px 30px;

		.left {
			align-items: center;
			display: flex;

			.logo {
				color: inherit;
				font-size: 40px;
				font-weight: 700;
				margin-right: 40px;
				text-decoration: none;

				@include mobile {
					font-size: 30px;
				}
			}

			.itemContainer {
				align-items: center;
				display: flex;
				margin-left: 30px;

				@include mobile {
					display: none;
				}
				
				.icon {
					font-size: 18px;
					margin-right: 5px;
				}
				
				span {
					font-size: 15px;
					font-weight: 400;
				}
			}
		}

		.right {
			
			.hamburger {
				cursor: pointer;
				display: flex;
				flex-direction: column;
				height: 25px;
				justify-content: space-between;
				width: 32px;

				span {
					background-color: $mainColor;
					height: 3px;
					transform-origin: left;
					transition: all 2s ease;
					width: 100%;
				}
			}
		}
	}

	&.active {
		background-color: $mainColor;
		color: white;

		.hamburger {

			span {
				&:first-child {
					background-color: white;
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					background-color: white;
					transform: rotate(-45deg);
				}
			}
		}
	}
}